{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <br>
    <center> <div class="conbg" > 
        <center><h1>Contact Us</h1> </center>
        <center>
            <br />
            <div>
                <div class="head" style="background-color:#124076,width=50%, padding=10px , color=white ">
                    connect with us
                </div>  
                  <div class="message" >
                    <input type="text" placeholder="Name" /> <br />
                    <input type="email" placeholder="Email" /> <br />
                     <br /><input id="msg" type="text"  style="height:110px"  placeholder="Message"/>  <br />
                    <button>Send Message</button>
                  </div>
            </div>
        </center>
        </div>
        </center>
</body>
</html>
{% endblock %}