{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>   
    <br />
    <div class="ProductDiv">
<div class="im1">
  <div>
    <h1 style=" text-shadow:1.5px 1.5px blue;" >
      Stylish Shoes <br />
      For Women
    </h1>
  </div>
</div>
<div class="im2">
  <div class="im22">
    <h1 style=" text-shadow:1.5px 1.5pxwhite">Sports Wear</h1>
    
  </div>
  <div class="im23">
    <h1 style=" text-shadow:1.5px 1.5px white">Sports Wear</h1>
   
  </div>
  <div></div>
</div>
</div>
<br /> <br />
  <Slideshow/>
<!-- -------------------------------------------------- -->
<div class="DiscountDiv">
<div class="DiscountDivInner">
  <div>
    <h1>
      10% OFF Discount <br />
      Coupons
    </h1>
    <p>Subscribe us to get 10% OFF on all purchases</p>
  </div>
  <div>
    <button>EMAIL ME</button>
  </div>
</div>
</div>

<!-- ------------------------------------------------- -->

<div class="FeatVA">
<div><h3>F E A T U R E D P R O D U C T</h3></div>
<div><h4>VIEW ALL</h4></div>
</div>
<div class="Fiveimgdiv">
  <div>
    <div class="img1">
        <div id="in">
          
        </div>
    </div>
    <h5>Running Shoes for men <span>$99</span></h5>
  </div>
  <div>
    <div class="img2">
        <div id="in1">
            
        </div>
    </div>
    <h5>Running Shoes for men <span>$99</span></h5>
  </div>
  <div>
    <div class="img3">
        <div id="in2">
            
        </div>
    </div>
    <h5>Running Shoes for men <span>$99</span></h5>
  </div>
  <div>
    <div class="img4">
        <div id="in3">
           
        </div>
    </div>
    <h5>Running Shoes for men <span>$99</span></h5>
  </div>
  <div>
    <div class="img5">
        <div id="in4">
           
        </div>
    </div>
    <h5>Running Shoes for men <span>$99</span></h5>
  </div>
</div>


<div class="Fiveimgdiv">

</div>
<br />
<br />
<br />
<br />
<br />
<br />

<!-- --------------------------------------------------- -->

<div class="TwoMostcollecttion">
<div class="FirstCol">
  <h1 style=" text-shadow:1.5px 1.5px blue">
    Minimal <br />
    Collection <br />
    <span>SHOP NOW</span>
  </h1>
</div>
<div class="SecondCol">
  <h1 style=" text-shadow:1.5px 1.5px grey">
    Sneakers <br />
    Collection <br />
    <span>SHOP NOW</span>
  </h1>
</div>
</div>

</body>
</html>
{% endblock %}
